




<header style="height:66px;">
  <app-header>
  </app-header>
</header>



<section style="height:calc(100% - 106px);">


<div class="container h-100">
  <!--<div class="row justify-content-center">-->
    <div class="row h-100">
        <div class="col-md-6 col-lg-4 col-xl-3  my-auto" style="">
            <div class="card"  style="">
                <div class="card-block">
                    <h4 style="" class="font-weight-bold card-title text-center">PROTOCOL</h4>
                <img style="width:50%;" class=" img-fluid mx-auto d-block" src="assets/icon/noun_Science_103308_000000.png" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3  my-auto" style="">
            <div class="card"  style="">
                <div class="card-block">
                    <h4 style="" class="font-weight-bold card-title text-center">PROTOCOL</h4>
                <img style="width:50%;" class=" img-fluid mx-auto d-block" src="assets/icon/noun_Science_103308_000000.png" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3  my-auto" style="">
            <div class="card"  style="">
                <div class="card-block">
                    <h4 style="" class="font-weight-bold card-title text-center">PROTOCOL</h4>
                <img style="width:50%;" class=" img-fluid mx-auto d-block" src="assets/icon/noun_Science_103308_000000.png" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3  my-auto" style="">
            <div class="card"  style="">
                <div class="card-block">
                    <h4 style="" class="font-weight-bold card-title text-center">PROTOCOL</h4>
                <img style="width:50%;" class=" img-fluid mx-auto d-block" src="assets/icon/noun_Science_103308_000000.png" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3  my-auto" style="">
            <div class="card"  style="">
                <div class="card-block">
                    <h4 style="" class="font-weight-bold card-title text-center">PROTOCOL</h4>
                <img style="width:50%;" class=" img-fluid mx-auto d-block" src="assets/icon/noun_Science_103308_000000.png" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <!--
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        -->
    </div>

</div>

</section>




<footer>
  ALLO
</footer>
